body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9AC2F;
  padding: 20px;
  margin-top: auto;
  text-align: center;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-bottom {
  margin-top: auto;
}

.social-networks img {
  max-width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.social-networks img:hover {
  transform: scale(1.2);
}

footer img {
  max-width: 300px;
  height: auto;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}

.connect{
  font-size: 26px;
}

.contact-section{
  font-size: 20px;
}

.support-section a {
  font-size: 23px;
  transition: color 0.3s ease;
  color: #333;
}

.support-section a:hover {
  color: #fff;
  text-decoration: underline;
}

.copyright-section {
  font-size: 15px;
}
