@charset "UTF-8";
:root {
  --main-color: #000;
  --gray-color: #B0B0B0;
  --font-family: Comfortaa;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
}

.info-block {
  width: 100%;
  background-color: #fff;
  border: 1px var(--main-color);
  border-radius: 15px;
  box-shadow: -7px 3px 20px grey;
}

.block-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.container .product-name {
  margin-top: 50px;
}
.container .product-name h2 {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: var(--font-weight-regular);
}
.container .product-name p {
  margin-top: 24px;
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: clamp(14px, 2vw, 24px);
  font-weight: var(--font-weight-regular);
}
.container .product-block {
  margin-top: 50px;
  min-height: 200px;
  padding: 10px;
}
.container .product-block .product-information {
  display: flex;
}
.container .product-block .product-information .little-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15%;
}
.container .product-block .product-information .little-images img {
  width: 100%;
  height: auto;
  max-height: 150px;
  margin: 5px 15px 0 15px;
  border-radius: 15px;
  box-shadow: -7px 3px 20px grey;
}
.container .product-block .product-information .main-image {
  margin-left: 30px;
  width: 40%;
  align-self: center;
}
.container .product-block .product-information .main-image img {
  width: 90%;
  height: auto;
  border-radius: 15px;
  box-shadow: -7px 3px 20px grey;
}
.container .product-block .product-information .product-info {
  padding: 20px;
  align-self: center;
}
.container .product-block .product-information .product-info .info-col {
  display: flex;
  margin-top: 30px;
}
.container .product-block .product-information .product-info .info-col p {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: var(--font-weight-bold);
}
.container .product-block .product-information .product-info .info-col span {
  margin-left: 10px;
  margin-top: 6px;
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: var(--font-weight-regular);
}
.container .product-block .product-information .product-info h4 {
  margin-top: 10px;
  color: var(--gray-color);
  font-family: var(--font-family);
  font-size: clamp(14px, 2vw, 24px);
  font-weight: var(--font-weight-regular);
}
.container .product-block .product-information .product-info .product-buy {
  margin-top: 20px;
}
.container .product-block .product-information .product-info .product-buy button {
  height: 48px;
  width: 70%;
  max-width: 214px;
  margin: 5px;
  background: #2E6EFF;
  color: #fff;
  border-radius: 17px;
  border: none;
  font-family: "Open Sans";
  font-size: 16px;
  vertical-align: middle;
  transition: transform 0.5s ease;
}

.container .product-block .product-information .product-info .product-buy button:hover {
  background-color: #1a4dff;
  transform: scale(1.1);
}

.container .product-block .product-information .product-info .product-buy svg {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.container .product-block .product-description {
  margin-top: 100px;
  padding: 30px;
}
.container .product-block .product-description .product-specific h2 {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
}
.container .product-block .product-description .product-specific h3 {
  margin-top: 10px;
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: var(--font-weight-regular);
}
.container .product-block .product-description .product-specific .atribute {
  display: flex;
  margin-top: 8px;
}
.container .product-block .product-description .product-specific .atribute p {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: var(--font-weight-regular);
}
.container .product-block .product-description .product-specific .atribute span {
  margin-left: 8px;
  color: var(--gray-color);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: var(--font-weight-regular);
}
.container .product-block .product-description .product-specific h2 {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: var(--font-weight-bold);
}
.container .product-block .product-description .product-desc h2 {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: var(--font-weight-bold);
}
.container .product-block .product-description .product-desc p {
  margin-top: 10px;
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: var(--font-weight-regular);
}
.container .reviews {
  margin-top: 50px;
  padding: 30px;
}
.container .reviews h2 {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: var(--font-weight-regular);
}
.container .reviews .review-card {
  margin-top: 5px;
}
.container .reviews .review-card .review-user-info {
  display: flex;
  align-items: center;
}
.container .reviews .review-card .review-user-info img {
  width: 68px;
  height: auto;
}
.container .reviews .review-card .review-user-info .user-info {
  margin-left: 10px;
}
.container .reviews .review-card .review-user-info .user-info p {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: var(--font-weight-regular);
}
.container .reviews .review-card .review-user-info {
  display: block;
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: var(--font-weight-regular);
}
.container .reviews .review-card .review-description p {
  margin-top: 7px;
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: var(--font-weight-regular);
}
.container .review-form-block {
  margin-top: 20px;
  padding: 30px;
}
.container .review-form-block h2 {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: var(--font-weight-regular);
}
.container .review-form-block p {
  margin: 6px 0 0 3px;
  color: var(--gray-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: var(--font-weight-regular);
}
.container .review-form-block .review-form {
  margin-top: 20px;
}
.container .review-form-block .review-form h3 {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: clamp(14px, 2vw, 24px);
  font-weight: var(--font-weight-regular);
}
.container .review-form-block .review-form .input-fields {
  width: 100%;
  margin-top: 20px;
}
.container .review-form-block .review-form .input-fields p {
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: var(--font-weight-regular);
}
.container .review-form-block .review-form .input-fields input {
  background-color: #CBE3F4;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 40px;
}
.container .review-form-block .review-form .input-fields textarea {
  background-color: #CBE3F4;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 40px;
}
.container .review-form-block .review-form .input-fields button {
  font-family: "Open Sans", sans-serif;
  height: 60px;
  width: 40%;
  background-color: #3f76f7;
  color: #fff;
  font-size: clamp(12px, 2vw, 20px);
  margin-top: 40px;
  border-radius: 10px;
  border: none;
  transition: transform 0.3s ease;
}

.container .review-form-block .review-form .input-fields button:hover {
  background-color: #1a4dff; /* Новый цвет при наведении */
  color: #000; /* Новый цвет текста при наведении */
  transform: scale(1.1); /* Увеличение при наведении */
}