<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/support.css"/>
    <link rel="stylesheet" href="/css/reset.css"/>
    <title>Support</title>
</head>
<body>
<div class="container">
    <img src="/images/logoimage.png">
    <form id="supportForm" class="info" onsubmit="return openMailClient()">
        <div class="input-fields">
            <p>Ваше имя</p>
            <input type="text" name="firstName" required minlength="3" maxlength="50">

            <p>Сообщение</p>
            <textarea type="text" name="message" required minlength="10" maxlength="500"></textarea>

            <p>Ваша почта</p>
            <input type="email" name="email" required>
        </div>
        <span>Ответ, прийдет вам на почту, в течение 3-ех рабочих дней.</span>

        <button type="submit">Отправить</button>
        <div class="links">
            <a href="/main">Вернуться на главную</a>
        </div>
    </form>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
    function openMailClient() {
        var name = document.getElementsByName("firstName")[0].value;
        var email = document.getElementsByName("email")[0].value;
        var message = document.getElementsByName("message")[0].value;

        var mailtoLink = "mailto:ksenia.kolganova@bk.ru" +
            "?to=" + encodeURIComponent("ksenia.kolganova@bk.ru") +
            "&from=" + encodeURIComponent(email) +
            "&subject=" + encodeURIComponent("Обращение в Тех.Поддержку от " + name) +
            "&body=" + encodeURIComponent(message);

        window.location.href = mailtoLink;
        return false;
    }
</script>

</html>
